<center>
<h1>Welcome to Josh's Birthday Party RSVP Page!</h1>
<img src="http://40.media.tumblr.com/e8edcfafe936c129edaad93be03539ce/tumblr_inline_nyz8zbtDJg1rcncm1_400.jpg" width="320" height="320">
<%= form_for(@attendees) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.submit %>
<% end %>
</center>
